{include file="public/header" /}
{include file="public/menu"}
<style type="text/css">
    .privilege_name{
        width: 50%;
    }
</style>
<section class="content">
    <div id="toolbar" class="btn-group col-sm-12">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
    <div class="table-scrollable">
        <table class="table-striped table-hover" data-toggle="table" >
            <thead>
            <tr>
                <th data-sortable="true">id</th>
                <th data-sortable="true">角色名</th>
                <th data-sortable="true">权限</th>
                <th >操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="admin_role" id="data"}
                <tr>
                    <td>{$data.id}</td>
                    <td>{$data.role_name}</td>
                    <td class="privilege_name">
                        {volist name="data.privilege_names" id="sub_data"}
                            {$sub_data.privilege_name}&nbsp;&nbsp;
                        {/volist}
                    </td>
                    <td>
                        <a href="/admin/admin/admin_role_edit/id/{$data.id}" class="btn btn-icon-only purple"><i class="fa fa-edit"></i></a>
                        <a href="/admin/admin/admin_role_delete/id/{$data.id}" class="btn btn-icon-only red btn_delete"> <i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {/volist}
            </tbody>
        </table>
        <div class="fixed-table-pagination" align="center">
        </div>
    </div>
</section>

{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        $('#btn_add').on('click',function () {
            window.location.href = '/admin/admin/admin_role_add';
        });
        $('.btn_delete').on('click',function () {
            return confirm('确定要删除吗?');
        });
    });
</script>