{include file="public/header" /}
{include file="public/menu"}
<form class="form-horizontal col-sm-8 col-sm-offset-2" action="/admin/admin/admin_privilege_group_add" method="post" enctype="multipart/form-data">
    <div class="box-body">
        <div class="form-group">
            <label for="group_name" class="col-sm-2 control-label">权限分组名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="group_name" id="group_name" placeholder="权限分组名称">
            </div>
            <div class="col-sm-1 red">*</div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-2">
                <button type="reset" class="col-sm-12 col-xs-12 btn btn-default">重置</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="col-sm-12 col-xs-12 btn btn-info add_btn">提交</button>
            </div>
        </div>
    </div>
</form>
{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        $('.add_btn').on('click',function () {
            //1.提交前验证
            if($('#group_name').val() == ""){
                showMsg('权限分组名称不能为空','group_name',1000);
                return false;
            }
            else{
                $(this).attr('type','submit');
            }
        });
    });
</script>