{include file="public/header" /}
{include file="public/menu"}
<style>
    .bg-primary{
        height: 40px;
        line-height: 40px;
    }
    .privilege_sub_item_1,.privilege_sub_item_2,.privilege_sub_item_3{
        padding: 4px 0;
        border-bottom: 1px solid #ececec;
    }
</style>
<form class="form-horizontal col-sm-8 col-sm-offset-2" action="/admin/admin/admin_privilege_edit" method="post" enctype="multipart/form-data">
    <div class="box-body">
        <div class="form-group">
            <label for="privilege_name" class="col-sm-2 control-label">菜单名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="privilege_name" name="privilege_name" value="{$privilege.privilege_name}">
            </div>
            <div class="col-sm-1 red">*</div>
        </div>
        <div class="form-group">
            <label for="group_id" class="col-sm-2 control-label">权限分组</label>
            <div class="col-sm-6">
                <select id="group_id" class="form-control" name="group_id">
                    <option value="0">请选择权限分组</option>
                    {volist name="privilege_group" id="data"}
                    <option value="{$data.id}" {if condition="$privilege.group_id eq $data.id" }selected="selected"{/if} >{$data.group_name}</option>
                    {/volist}
                </select>
            </div>
            <div class="col-sm-1 red">*</div>
        </div>
        <div class="form-group">
            <label for="controller_name" class="col-sm-2 control-label">控制器</label>
            <div class="col-sm-6">
                <select id="controller_name" class="form-control">
                    <option value="0">请选择控制器</option>
                    {volist name="controller_name" id="data"}
                    <option value="{$data}">{$data}</option>
                    {/volist}
                </select>
            </div>
            <div class="col-sm-1 red">*</div>
        </div>
        <div class="form-group">
            <label for="action_name" class="col-sm-2 control-label">操作</label>
            <div class="col-sm-6">
                <select id="action_name" class="form-control">
                    <option value="0">请选择操作</option>
                </select>
            </div>
            <div class="col-sm-1 red">*</div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-5">
                <button type="button" class="col-sm-12 col-xs-12 btn btn-default add_sub">添加权限码</button>
            </div>
        </div>
        <div class="form-group privilege_sub_item">
            <div class="col-sm-12 col-xs-12">
                <div class="col-sm-3 col-xs-3 bg-primary">控制器名</div>
                <div class="col-sm-3 col-xs-3 bg-primary">操作名</div>
                <div class="col-sm-3 col-xs-3 bg-primary">操作</div>
            </div>
            {volist name="$privilege.privilege_code" id="data"}
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-3 col-xs-3 privilege_sub_item_1">{$data.controller_name}</div>
                    <div class="col-sm-3 col-xs-3 privilege_sub_item_2">{$data.action_name}</div>
                    <div class="col-sm-3 col-xs-3 privilege_sub_item_3"><i class="fa fa-times btn_delete red"></i></div>
                    <input type="hidden" name="controller_name[]" value="{$data.controller_name}">
                    <input type="hidden" name="action_name[]" value="{$data.action_name}">
                </div>
            {/volist}
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-2">
                <button type="reset" class="col-sm-12 col-xs-12 btn btn-default">重置</button>
            </div>
            <div class="col-sm-3">
                <input type="hidden" name="id" value="{$privilege.id}">
                <button type="button" class="col-sm-12 col-xs-12 btn btn-info add_btn">提交</button>
            </div>
        </div>
    </div>
</form>
{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        /*改变控制器 ajax 读取操作*/
        $('#controller_name').change(function () {
            $.ajax({
                url:'/admin/admin/ajax_get_action',
                type:'post',
                dataType:'json',
                data:'controller_name='+$(this).val(),
                success:function(data){
                    var html = '';
                    for(var i=0;i<data.length;i++){
                        html+="<option value='"+ data[i] +"'>"+data[i]+"</option>";
                    }
                    $('#action_name').html(html);
                }
            });
        });

        $('.add_sub').on('click',function(){
            if($('#controller_name').val() == 0||$('#controller_name').val() == null){
                showMsg('请选择控制器','controller_name',1000);
            }
            else if($('#action_name').val() == 0||$('#action_name').val() == null){
                showMsg('请选择操作','action_name',1000);
            }
            else{
                //循环判断权限是否存在 若存在则提示错误
                for(var i=0;i<$('input[name="controller_name[]"]').length;i++){
                    if($('#controller_name').val()==$('input[name="controller_name[]"]').eq(i).val()
                        &&$('#action_name').val()==$('input[name="action_name[]"]').eq(i).val()){ //二者同时成立
                        showMsg("已存在请勿重复添加");
                        return false;
                    }
                }
                var html = '<div class="col-sm-12 col-xs-12">' +
                    '<div class="col-sm-3 col-xs-3 privilege_sub_item_1">'+ $('#controller_name').val() +'</div>'+
                    '<div class="col-sm-3 col-xs-3 privilege_sub_item_2">'+ $('#action_name').val() +'</div>'+
                    '<div class="col-sm-3 col-xs-3 privilege_sub_item_3"><i class="fa fa-times btn_delete red"></i></div>'+
                    '<input type="hidden" name="controller_name[]" value="'+ $('#controller_name').val() +'">'+
                    '<input type="hidden" name="action_name[]" value="'+ $('#action_name').val() +'">'+
                    '</div>';

                $('.privilege_sub_item').append(html);
            }
        });

        $('.add_btn').on('click',function () {
            //1.提交前验证
            if($('#privilege_name').val()==''){
                showMsg('菜单名称不能为空','privilege_name',1000);
            }
            else if($('#group_id').val() == 0){
                showMsg('请选择权限分组','group_id',1000);
            }
            else if($('input[name="controller_name[]"]').length == 0){
                showMsg("请先添加权限码");
            }
            else{
                $(this).attr('type','submit');
            }
        });

        $('body').on('click','.btn_delete',function () {
            $(this).parent().parent().remove();
        });
    });
</script>