{include file="public/header" /}
{include file="public/menu"}
<style type="text/css">
    tr{height: 50px;}
</style>
<section class="content">
    <div id="toolbar" class="btn-group col-sm-12">
        <button id="btn_refresh" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>更新日志
        </button>
    </div>
    <table class="table table-bordered table-hover" >
        <thead>
        <tr>
            <th ></th>
            <th data-sortable="true">id</th>
            <th data-sortable="true">账号名</th>
            <th data-sortable="true">操作时间</th>
            <th data-sortable="true">操作内容</th>
            <th data-sortable="true">ip</th>
            <th data-sortable="true">url</th>
        </tr>
        </thead>
        <tbody>
        {volist name='list' id='data'}
        <tr>
            <td><input type="checkbox"  attr-id="{$data.id}"></td>
            <td>{$data.id}</td>
            <td>{$data.username}</td>
            <td>{$data.log_time|date='Y-m-d H:i:s',###}</td>
            <td>{$data.log_info}</td>
            <td>{$data.log_ip}</td>
            <td>{$data.log_url}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="fixed-table-pagination" align="center">
        {$list->render()}
    </div>
</section>

{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        $('#btn_refresh').on('click',function () {
            window.location.href = '/admin/admin/admin_log_update';
        });
    });
</script>