{include file="public/header" /}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-archon">
            <div class="panel-heading">
                <h3 class="panel-title">服务器信息
                    <span class="pull-right">
                                    <a  href="#" class="panel-minimize"><i class="icon-chevron-up"></i></a>
                                    <a  href="#"  class="panel-settings"><i class="icon-cog"></i></a>
                                    <a  href="#"  class="panel-close"><i class="icon-remove"></i></a>
                                </span>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tbody>
                    {volist name="server" id="v"}
                        <tr>
                            <td>{$key}</td>
                            <td>{$v}</td>
                        </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}