{include file="public/header" /}
{include file="public/menu"}
<section class="content">
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">基本设置</a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">设置二</a></li>
        <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">设置三</a></li>
    </ul>
    <div class="tab-content col-sm-12 col-xs-12">
        <!--基本设置-->
        <div class="tab-pane active" id="tab_1">
            <form action="/admin/system/setting/type/base" class="col-sm-8 form-horizontal" method="post">
                <div class="form-group">
                    <label for="home_pagesize" class="col-sm-2 control-label">分页数(商城)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="home_pagesize" id="home_pagesize" value="{$setting_info.home_pagesize|default=''}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="admin_pagesize" class="col-sm-2 control-label">分页数(后台)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="admin_pagesize" id="admin_pagesize" value="{$setting_info.admin_pagesize|default=''}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="goods_number" class="col-sm-2 control-label">库存</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="goods_number" id="goods_number" value="{$setting_info.goods_number|default=''}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button class="btn btn-info col-sm-12 col-xs-12" type="submit">确认</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            <form action="#">
                <button class="btn" type="submit">确认</button>
            </form>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
            <form action="#">
                <button class="btn" type="submit">确认</button>
            </form>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
</section>
{include file="public/footer" /}