{include file="public/header" /}
{include file="public/menu"}
<section class="content">
    <div id="toolbar" class="btn-group col-sm-12">
        <button id="btn_add" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
    <table class="table table-bordered table-hover" >
        <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>规格名称</th>
            <th>类型</th>
            <th>规格项</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='list' id='data'}
            <tr>
                <td><input type="checkbox"  attr-id="{$data.id}"></td>
                <td>{$data.id}</td>
                <td>{$data.spec_name}</td>
                <td>{$data.type_name}</td>
                <td>{$data.spec_item}</td>
                <td>
                    <a href="/admin/goods/goods_spec_edit/id/{$data.id}" class="btn btn-icon-only purple"><i class="fa fa-edit"></i></a>
                    <a href="/admin/goods/goods_spec_delete/id/{$data.id}" class="btn btn-icon-only red btn_delete"> <i class="fa fa-times"></i></a>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
    <div class="fixed-table-pagination" align="center">
        {$list->render()}
    </div>
</section>

{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        $('#btn_add').on('click',function () {
            window.location.href = '/admin/goods/goods_spec_add';
        });
        $('.btn_delete').on('click',function () {
            return confirm('确定要删除吗?');
        });
    });
</script>