{include file="public/header" /}
{include file="public/menu"}
<section class="content">
    <div id="toolbar" class="btn-group col-sm-12">
        <button id="btn_add" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
    <div class="table-scrollable">
        <table class="table-hover" data-toggle="table" >
            <thead>
            <tr>
                <th></th>
                <th data-sortable="true">id</th>
                <th data-sortable="true">类型名</th>
                <th data-sortable="true">关联信息</th>
                <th >操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='data'}
            <tr>
                <td><input type="checkbox"  attr-id="{$data.id}"></td>
                <td>{$data.id}</td>
                <td>{$data.type_name}</td>
                <td>属性列表 规格列表</td>
                <td>
                    <a href="/admin/goods/goods_type_edit/id/{$data.id}" class="btn btn-icon-only purple"><i class="fa fa-edit"></i></a>
                    <a href="/admin/goods/goods_type_delete/id/{$data.id}" class="btn btn-icon-only red btn_delete"> <i class="fa fa-times"></i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <div class="fixed-table-pagination" align="center">
            {$list->render()}
        </div>
    </div>
</section>

{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        $('#btn_add').on('click',function () {
            window.location.href = '/admin/goods/goods_type_add';
        });
        $('.btn_delete').on('click',function () {
            return confirm('确定要删除吗?');
        });
    });
</script>