{include file="public/header" /}
{include file="public/menu"}
<section class="content">
    <div id="toolbar" class="btn-group col-sm-12">
        <button id="btn_add" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
    <div class="table-scrollable">
        <table class="table-striped table-hover" data-toggle="table" >
            <thead>
            <tr>
                <th data-sortable="true">品牌id</th>
                <th data-sortable="true">品牌名称</th>
                <th data-sortable="true">品牌图片</th>
                <th >操作</th>
            </tr>
            </thead>
            <tbody>
                {volist name='list' id='data'}
                <tr>
                    <td>{$data.id}</td>
                    <td>{$data.brand_name}</td>
                    <td><img src="{$data.brand_img}" width="100" height="50"></td>
                    <td>
                        <a href="/admin/goods/goods_brand_edit/id/{$data.id}" class="btn btn-icon-only purple"><i class="fa fa-edit"></i></a>
                        <a href="/admin/goods/goods_brand_delete/id/{$data.id}" class="btn btn-icon-only red btn_delete"> <i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
        <div class="fixed-table-pagination" align="center">
            {$list->render()}
        </div>
    </div>
</section>

{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        $('#btn_add').on('click',function () {
            window.location.href = '/admin/goods/goods_brand_add';
        });
        $('.btn_delete').on('click',function () {
            return confirm('确定要删除吗?');
        });
    });
</script>