{include file="public/header" /}
{include file="public/menu"}
<style type="text/css">
    #tree{
        font-size: 18px;
    }
    .cat_hide{
        display: none;
    }
</style>
<section class="content">
    <div id="toolbar" class="btn-group col-sm-12">
        <button id="btn_add" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
    <div class="table-scrollable">
        <table class="table-hover" data-toggle="table" >
            <thead>
            <tr>
                <th></th>
                <th data-sortable="true">id</th>
                <th data-sortable="true">分类名</th>
                <th data-sortable="true">parent_id</th>
                <th data-sortable="true">是否显示</th>
                <th >操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='data'}
            <tr class="parent_{$data.parent_id} {if condition="$data.level gt 0"} cat_hide{/if}">
                <td><button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></button></td>
                <td>{$data.cat_id}</td>
                <td>{$data.cat_name}</td>
                <td>{$data.parent_id}</td>
                <td>---{$data.level}</td>
                <td>
                    <a href="/admin/goods/goods_cat_edit/id/{$data.cat_id}" class="btn btn-icon-only purple"><i class="fa fa-edit"></i></a>
                    <a href="/admin/goods/goods_cat_delete/id/{$data.cat_id}" class="btn btn-icon-only red btn_delete"> <i class="fa fa-times"></i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</section>
{include file="public/footer" /}
<script type="text/javascript">
$(function () {

    $('#btn_delete').on('click',function () {
        if($('.jstree-clicked').length){
            if(confirm('确定要删除吗')){
                var cat_id = $('.jstree-clicked').parent('li').attr('cat-id');
                window.location.href ='/admin/goods/goods_cat_delete/cat_id/'+cat_id;
            }
        }
    });
});
</script>