{include file="public/header" /}
{include file="public/menu"}
<form class="form-horizontal col-sm-8 col-sm-offset-2" action="/admin/goods/goods_cat_edit" method="post" enctype="multipart/form-data">
    <div class="box-body">
        <div class="form-group">
            <label for="cat_name" class="col-sm-2 control-label">分类名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="cat_name" id="cat_name" placeholder="分类名" value="{$cat_info.cat_name}">
            </div>
            <div class="col-sm-1 red">*</div>
        </div>
        <div class="form-group">
            <label for="parent_id" class="col-sm-2 control-label">上级分类</label>
            <div class="col-sm-6">
                <select name="parent_id" id="parent_id" class="form-control">
                    <option value="0">顶级分类</option>
                    {volist name="list" id="data" }
                    <option  {if condition="$cat_info.parent_id eq $data.cat_id"}selected="selected"{/if} value="{$data.cat_id}">{php}echo str_repeat("&nbsp;",5*$data["level"]);{/php}{$data.cat_name}</option>
                    {/volist}
                </select>
            </div>
            <div class="col-sm-1 red">*</div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-2">
                <button type="reset" class="col-sm-12 col-xs-12 btn btn-default">重置</button>
            </div>
            <div class="col-sm-3">
                <input type="hidden" name="id" value="{$cat_info.cat_id}">
                <button type="button" class="col-sm-12 col-xs-12 btn btn-info edit_btn">提交</button>
            </div>
        </div>
    </div>
</form>
{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        $('.edit_btn').on('click',function () {
            //1.提交前验证
            if($('#cat_name').val() == ""){
                showMsg('分类名称不能为空','cat_name',1000);
                return false;
            }
            else{
                $(this).attr('type','submit');
            }
        });
    });
</script>