{include file="public/header" /}
{include file="public/menu"}
<style type="text/css">
    .input_type,.input_type_span{
        vertical-align: middle;
        margin: 0 !important;
    }
</style>
<form class="form-horizontal col-sm-8 col-sm-offset-2" action="/admin/goods/goods_attr_add" method="post" enctype="multipart/form-data">
    <div class="box-body">
        <div class="form-group">
            <label for="attr_name" class="col-sm-2 control-label">属性名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="attr_name" id="attr_name" placeholder="属性名称">
            </div>
            <div class="col-sm-1 red">*</div>
        </div>
        <div class="form-group">
            <label for="type_id" class="col-sm-2 control-label">选择类型</label>
            <div class="col-sm-6">
                <select name="type_id" id="type_id" class="form-control">
                    <option value="">请选择</option>
                    {volist name="type_info" id="data"}
                    <option value="{$data.id}">{$data.type_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">选择属性值录入方式</label>
            <div class="col-sm-6">
                <label class="control-label"><input class="input_type" type="radio" name="input_type" value="1"><span class="input_type_span">从添加的值中选择</span></label>&nbsp;&nbsp;
                <label class="control-label"><input class="input_type" type="radio" name="input_type" value="2"><span class="input_type_span">从文本框手动输入</span></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-2">
                <button type="reset" class="col-sm-12 col-xs-12 btn btn-default">重置</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="col-sm-12 col-xs-12 btn btn-info add_btn">提交</button>
            </div>
        </div>
    </div>
</form>
{include file="public/footer" /}
<script type="text/javascript">
    $(function () {
        $('.add_btn').on('click',function () {
            //1.提交前验证
            if($('#attr_name').val() == ""){
                showMsg('属性名称不能为空','attr_name',1000);
                return false;
            }
            else{
                $(this).attr('type','submit');
            }
        });
    });
</script>